# dependencies
/node_modules
/.pnp
.pnp.js
pnpm-lock.yaml
.yarn

# production
/build
/test/*.css

# editor directories and files
.vscode/*
!.vscode/extensions.json
!.vscode/settings.json
.idea
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
*storybook.log