@import "../utilities/typography.css";

.btn{
    display: inline-flex;
    align-items: center;
    justify-content: center;
    border-width: 1px;
    transition-property: color, background-color, border-color, text-decoration-color, fill, stroke;
    transition-duration: 150ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

/**
 * ---------------------------------------------------------------------------------------------------------------------
 * :::: sizes ::::
 */

.btn:not(.btn-xs, .btn-sm, .btn-lg, .btn-xl) {
    @mixins label3;
    min-height: 2.5rem;
    border-radius: 0.5rem;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
}

.btn.btn-xs {
    @mixins label4;
    min-height: 2rem;
    border-radius: 0.5rem;
    padding-left: 0.25rem;
    padding-right: 0.25rem;
}

.btn.btn-sm {
    @mixins label3;
    min-height: 2.25rem;
    border-radius: 0.5rem;
    padding-left: 0.375rem;
    padding-right: 0.375rem;
}

.btn.btn-lg {
    @mixins label3;
    min-height: 2.75rem;
    border-radius: 0.5rem;
    padding-left: 0.625rem;
    padding-right: 0.625rem;
}

.btn.btn-xl {
    @mixins label2;
    min-height: 3rem;
    border-radius: 0.5rem;
    padding-left: 0.75rem;
    padding-right: 0.75rem;
}

/**
 * ---------------------------------------------------------------------------------------------------------------------
 * :::: rounded full ::::
 */

.btn.btn-rounded-full{
    border-radius: 9999px;
}

/**
 * ---------------------------------------------------------------------------------------------------------------------
 * :::: variants ::::
 */

/*
     * :::: contained ::::
     */

.btn-brand {
        color: rgb(var(--inverse));
        background-color: rgb(var(--brand));
        border-color: rgb(var(--brand));
    }

.btn-brand:hover {
            color: rgb(var(--inverse));
            background-color: rgb(var(--brand--hover));
            border-color: rgb(var(--brand--hover));
        }

.btn-brand:active {
            color: rgb(var(--inverse));
            background-color: rgb(var(--brand--active));
            border-color: rgb(var(--brand--active));
        }

.btn-brand:disabled,
        .btn-brand:hover:disabled,
        .btn-brand:active:disabled {
            color: rgb(var(--disabled));
            background-color: rgb(var(--gray-light));
            border-color: rgb(var(--gray-light));
        }

/*
     * :::: tinted ::::
     */

.btn-brand.btn-tinted {
        color: rgb(var(--brand));
        background-color: rgb(var(--brand-light));
        border-color: rgb(var(--brand-light));
    }

.btn-brand.btn-tinted:hover {
            color: rgb(var(--brand--hover));
            background-color: rgb(var(--brand-light--hover));
            border-color: rgb(var(--brand-light--hover));
        }

.btn-brand.btn-tinted:active {
            color: rgb(var(--brand--active));
            background-color: rgb(var(--brand-light--active));
            border-color: rgb(var(--brand-light--active));
        }

.btn-brand.btn-tinted:disabled,
        .btn-brand.btn-tinted:hover:disabled,
        .btn-brand.btn-tinted:active:disabled {
            color: rgb(var(--disabled));
            background-color: rgb(var(--gray-light));
            border-color: rgb(var(--gray-light));
        }

/*
     * :::: outlined ::::
     */

.btn-brand.btn-outlined {
        color: rgb(var(--brand));
        background-color: transparent;
        border-color: rgb(var(--brand));
    }

.btn-brand.btn-outlined:hover {
            color: rgb(var(--brand--hover));
            background-color: rgb(var(--brand-light--hover));
            border-color: rgb(var(--brand--hover));
        }

.btn-brand.btn-outlined:active {
            color: rgb(var(--brand--active));
            background-color: rgb(var(--brand-light--active));
            border-color: rgb(var(--brand--active));
        }

.btn-brand.btn-outlined:disabled,
        .btn-brand.btn-outlined:hover:disabled,
        .btn-brand.btn-outlined:active:disabled {
            color: rgb(var(--disabled));
            background-color: transparent;
            border-color: rgb(var(--gray));
        }

/*
     * :::: text ::::
     */

.btn-brand.btn-text {
        color: rgb(var(--brand));
        background-color: transparent;
        border-color: transparent;
    }

.btn-brand.btn-text:hover {
            color: rgb(var(--brand--hover));
            background-color: transparent;
            border-color: transparent;
        }

.btn-brand.btn-text:active {
            color: rgb(var(--brand--active));
            background-color: transparent;
            border-color: transparent;
        }

.btn-brand.btn-text:disabled,
        .btn-brand.btn-text:hover:disabled,
        .btn-brand.btn-text:active:disabled {
            color: rgb(var(--disabled));
            background-color: transparent;
            border-color: transparent;
        }

/*
     * :::: contained ::::
     */

.btn-info {
        color: rgb(var(--inverse));
        background-color: rgb(var(--info));
        border-color: rgb(var(--info));
    }

.btn-info:hover {
            color: rgb(var(--inverse));
            background-color: rgb(var(--info--hover));
            border-color: rgb(var(--info--hover));
        }

.btn-info:active {
            color: rgb(var(--inverse));
            background-color: rgb(var(--info--active));
            border-color: rgb(var(--info--active));
        }

.btn-info:disabled,
        .btn-info:hover:disabled,
        .btn-info:active:disabled {
            color: rgb(var(--disabled));
            background-color: rgb(var(--gray-light));
            border-color: rgb(var(--gray-light));
        }

/*
     * :::: tinted ::::
     */

.btn-info.btn-tinted {
        color: rgb(var(--info));
        background-color: rgb(var(--info-light));
        border-color: rgb(var(--info-light));
    }

.btn-info.btn-tinted:hover {
            color: rgb(var(--info--hover));
            background-color: rgb(var(--info-light--hover));
            border-color: rgb(var(--info-light--hover));
        }

.btn-info.btn-tinted:active {
            color: rgb(var(--info--active));
            background-color: rgb(var(--info-light--active));
            border-color: rgb(var(--info-light--active));
        }

.btn-info.btn-tinted:disabled,
        .btn-info.btn-tinted:hover:disabled,
        .btn-info.btn-tinted:active:disabled {
            color: rgb(var(--disabled));
            background-color: rgb(var(--gray-light));
            border-color: rgb(var(--gray-light));
        }

/*
     * :::: outlined ::::
     */

.btn-info.btn-outlined {
        color: rgb(var(--info));
        background-color: transparent;
        border-color: rgb(var(--info));
    }

.btn-info.btn-outlined:hover {
            color: rgb(var(--info--hover));
            background-color: rgb(var(--info-light--hover));
            border-color: rgb(var(--info--hover));
        }

.btn-info.btn-outlined:active {
            color: rgb(var(--info--active));
            background-color: rgb(var(--info-light--active));
            border-color: rgb(var(--info--active));
        }

.btn-info.btn-outlined:disabled,
        .btn-info.btn-outlined:hover:disabled,
        .btn-info.btn-outlined:active:disabled {
            color: rgb(var(--disabled));
            background-color: transparent;
            border-color: rgb(var(--gray));
        }

/*
     * :::: text ::::
     */

.btn-info.btn-text {
        color: rgb(var(--info));
        background-color: transparent;
        border-color: transparent;
    }

.btn-info.btn-text:hover {
            color: rgb(var(--info--hover));
            background-color: transparent;
            border-color: transparent;
        }

.btn-info.btn-text:active {
            color: rgb(var(--info--active));
            background-color: transparent;
            border-color: transparent;
        }

.btn-info.btn-text:disabled,
        .btn-info.btn-text:hover:disabled,
        .btn-info.btn-text:active:disabled {
            color: rgb(var(--disabled));
            background-color: transparent;
            border-color: transparent;
        }

/*
     * :::: contained ::::
     */

.btn-success {
        color: rgb(var(--inverse));
        background-color: rgb(var(--success));
        border-color: rgb(var(--success));
    }

.btn-success:hover {
            color: rgb(var(--inverse));
            background-color: rgb(var(--success--hover));
            border-color: rgb(var(--success--hover));
        }

.btn-success:active {
            color: rgb(var(--inverse));
            background-color: rgb(var(--success--active));
            border-color: rgb(var(--success--active));
        }

.btn-success:disabled,
        .btn-success:hover:disabled,
        .btn-success:active:disabled {
            color: rgb(var(--disabled));
            background-color: rgb(var(--gray-light));
            border-color: rgb(var(--gray-light));
        }

/*
     * :::: tinted ::::
     */

.btn-success.btn-tinted {
        color: rgb(var(--success));
        background-color: rgb(var(--success-light));
        border-color: rgb(var(--success-light));
    }

.btn-success.btn-tinted:hover {
            color: rgb(var(--success--hover));
            background-color: rgb(var(--success-light--hover));
            border-color: rgb(var(--success-light--hover));
        }

.btn-success.btn-tinted:active {
            color: rgb(var(--success--active));
            background-color: rgb(var(--success-light--active));
            border-color: rgb(var(--success-light--active));
        }

.btn-success.btn-tinted:disabled,
        .btn-success.btn-tinted:hover:disabled,
        .btn-success.btn-tinted:active:disabled {
            color: rgb(var(--disabled));
            background-color: rgb(var(--gray-light));
            border-color: rgb(var(--gray-light));
        }

/*
     * :::: outlined ::::
     */

.btn-success.btn-outlined {
        color: rgb(var(--success));
        background-color: transparent;
        border-color: rgb(var(--success));
    }

.btn-success.btn-outlined:hover {
            color: rgb(var(--success--hover));
            background-color: rgb(var(--success-light--hover));
            border-color: rgb(var(--success--hover));
        }

.btn-success.btn-outlined:active {
            color: rgb(var(--success--active));
            background-color: rgb(var(--success-light--active));
            border-color: rgb(var(--success--active));
        }

.btn-success.btn-outlined:disabled,
        .btn-success.btn-outlined:hover:disabled,
        .btn-success.btn-outlined:active:disabled {
            color: rgb(var(--disabled));
            background-color: transparent;
            border-color: rgb(var(--gray));
        }

/*
     * :::: text ::::
     */

.btn-success.btn-text {
        color: rgb(var(--success));
        background-color: transparent;
        border-color: transparent;
    }

.btn-success.btn-text:hover {
            color: rgb(var(--success--hover));
            background-color: transparent;
            border-color: transparent;
        }

.btn-success.btn-text:active {
            color: rgb(var(--success--active));
            background-color: transparent;
            border-color: transparent;
        }

.btn-success.btn-text:disabled,
        .btn-success.btn-text:hover:disabled,
        .btn-success.btn-text:active:disabled {
            color: rgb(var(--disabled));
            background-color: transparent;
            border-color: transparent;
        }

/*
     * :::: contained ::::
     */

.btn-warning {
        color: rgb(var(--inverse));
        background-color: rgb(var(--warning));
        border-color: rgb(var(--warning));
    }

.btn-warning:hover {
            color: rgb(var(--inverse));
            background-color: rgb(var(--warning--hover));
            border-color: rgb(var(--warning--hover));
        }

.btn-warning:active {
            color: rgb(var(--inverse));
            background-color: rgb(var(--warning--active));
            border-color: rgb(var(--warning--active));
        }

.btn-warning:disabled,
        .btn-warning:hover:disabled,
        .btn-warning:active:disabled {
            color: rgb(var(--disabled));
            background-color: rgb(var(--gray-light));
            border-color: rgb(var(--gray-light));
        }

/*
     * :::: tinted ::::
     */

.btn-warning.btn-tinted {
        color: rgb(var(--warning));
        background-color: rgb(var(--warning-light));
        border-color: rgb(var(--warning-light));
    }

.btn-warning.btn-tinted:hover {
            color: rgb(var(--warning--hover));
            background-color: rgb(var(--warning-light--hover));
            border-color: rgb(var(--warning-light--hover));
        }

.btn-warning.btn-tinted:active {
            color: rgb(var(--warning--active));
            background-color: rgb(var(--warning-light--active));
            border-color: rgb(var(--warning-light--active));
        }

.btn-warning.btn-tinted:disabled,
        .btn-warning.btn-tinted:hover:disabled,
        .btn-warning.btn-tinted:active:disabled {
            color: rgb(var(--disabled));
            background-color: rgb(var(--gray-light));
            border-color: rgb(var(--gray-light));
        }

/*
     * :::: outlined ::::
     */

.btn-warning.btn-outlined {
        color: rgb(var(--warning));
        background-color: transparent;
        border-color: rgb(var(--warning));
    }

.btn-warning.btn-outlined:hover {
            color: rgb(var(--warning--hover));
            background-color: rgb(var(--warning-light--hover));
            border-color: rgb(var(--warning--hover));
        }

.btn-warning.btn-outlined:active {
            color: rgb(var(--warning--active));
            background-color: rgb(var(--warning-light--active));
            border-color: rgb(var(--warning--active));
        }

.btn-warning.btn-outlined:disabled,
        .btn-warning.btn-outlined:hover:disabled,
        .btn-warning.btn-outlined:active:disabled {
            color: rgb(var(--disabled));
            background-color: transparent;
            border-color: rgb(var(--gray));
        }

/*
     * :::: text ::::
     */

.btn-warning.btn-text {
        color: rgb(var(--warning));
        background-color: transparent;
        border-color: transparent;
    }

.btn-warning.btn-text:hover {
            color: rgb(var(--warning--hover));
            background-color: transparent;
            border-color: transparent;
        }

.btn-warning.btn-text:active {
            color: rgb(var(--warning--active));
            background-color: transparent;
            border-color: transparent;
        }

.btn-warning.btn-text:disabled,
        .btn-warning.btn-text:hover:disabled,
        .btn-warning.btn-text:active:disabled {
            color: rgb(var(--disabled));
            background-color: transparent;
            border-color: transparent;
        }

/*
     * :::: contained ::::
     */

.btn-danger {
        color: rgb(var(--inverse));
        background-color: rgb(var(--danger));
        border-color: rgb(var(--danger));
    }

.btn-danger:hover {
            color: rgb(var(--inverse));
            background-color: rgb(var(--danger--hover));
            border-color: rgb(var(--danger--hover));
        }

.btn-danger:active {
            color: rgb(var(--inverse));
            background-color: rgb(var(--danger--active));
            border-color: rgb(var(--danger--active));
        }

.btn-danger:disabled,
        .btn-danger:hover:disabled,
        .btn-danger:active:disabled {
            color: rgb(var(--disabled));
            background-color: rgb(var(--gray-light));
            border-color: rgb(var(--gray-light));
        }

/*
     * :::: tinted ::::
     */

.btn-danger.btn-tinted {
        color: rgb(var(--danger));
        background-color: rgb(var(--danger-light));
        border-color: rgb(var(--danger-light));
    }

.btn-danger.btn-tinted:hover {
            color: rgb(var(--danger--hover));
            background-color: rgb(var(--danger-light--hover));
            border-color: rgb(var(--danger-light--hover));
        }

.btn-danger.btn-tinted:active {
            color: rgb(var(--danger--active));
            background-color: rgb(var(--danger-light--active));
            border-color: rgb(var(--danger-light--active));
        }

.btn-danger.btn-tinted:disabled,
        .btn-danger.btn-tinted:hover:disabled,
        .btn-danger.btn-tinted:active:disabled {
            color: rgb(var(--disabled));
            background-color: rgb(var(--gray-light));
            border-color: rgb(var(--gray-light));
        }

/*
     * :::: outlined ::::
     */

.btn-danger.btn-outlined {
        color: rgb(var(--danger));
        background-color: transparent;
        border-color: rgb(var(--danger));
    }

.btn-danger.btn-outlined:hover {
            color: rgb(var(--danger--hover));
            background-color: rgb(var(--danger-light--hover));
            border-color: rgb(var(--danger--hover));
        }

.btn-danger.btn-outlined:active {
            color: rgb(var(--danger--active));
            background-color: rgb(var(--danger-light--active));
            border-color: rgb(var(--danger--active));
        }

.btn-danger.btn-outlined:disabled,
        .btn-danger.btn-outlined:hover:disabled,
        .btn-danger.btn-outlined:active:disabled {
            color: rgb(var(--disabled));
            background-color: transparent;
            border-color: rgb(var(--gray));
        }

/*
     * :::: text ::::
     */

.btn-danger.btn-text {
        color: rgb(var(--danger));
        background-color: transparent;
        border-color: transparent;
    }

.btn-danger.btn-text:hover {
            color: rgb(var(--danger--hover));
            background-color: transparent;
            border-color: transparent;
        }

.btn-danger.btn-text:active {
            color: rgb(var(--danger--active));
            background-color: transparent;
            border-color: transparent;
        }

.btn-danger.btn-text:disabled,
        .btn-danger.btn-text:hover:disabled,
        .btn-danger.btn-text:active:disabled {
            color: rgb(var(--disabled));
            background-color: transparent;
            border-color: transparent;
        }

/*
     * :::: contained ::::
     */

.btn-gray {
        color: rgb(var(--inverse));
        background-color: rgb(var(--gray));
        border-color: rgb(var(--gray));
    }

.btn-gray:hover {
            color: rgb(var(--inverse));
            background-color: rgb(var(--gray--hover));
            border-color: rgb(var(--gray--hover));
        }

.btn-gray:active {
            color: rgb(var(--inverse));
            background-color: rgb(var(--gray--active));
            border-color: rgb(var(--gray--active));
        }

.btn-gray:disabled,
        .btn-gray:hover:disabled,
        .btn-gray:active:disabled {
            color: rgb(var(--disabled));
            background-color: rgb(var(--gray-light));
            border-color: rgb(var(--gray-light));
        }

/*
     * :::: tinted ::::
     */

.btn-gray.btn-tinted {
        color: rgb(var(--gray));
        background-color: rgb(var(--gray-light));
        border-color: rgb(var(--gray-light));
    }

.btn-gray.btn-tinted:hover {
            color: rgb(var(--gray--hover));
            background-color: rgb(var(--gray-light--hover));
            border-color: rgb(var(--gray-light--hover));
        }

.btn-gray.btn-tinted:active {
            color: rgb(var(--gray--active));
            background-color: rgb(var(--gray-light--active));
            border-color: rgb(var(--gray-light--active));
        }

.btn-gray.btn-tinted:disabled,
        .btn-gray.btn-tinted:hover:disabled,
        .btn-gray.btn-tinted:active:disabled {
            color: rgb(var(--disabled));
            background-color: rgb(var(--gray-light));
            border-color: rgb(var(--gray-light));
        }

/*
     * :::: outlined ::::
     */

.btn-gray.btn-outlined {
        color: rgb(var(--gray));
        background-color: transparent;
        border-color: rgb(var(--gray));
    }

.btn-gray.btn-outlined:hover {
            color: rgb(var(--gray--hover));
            background-color: rgb(var(--gray-light--hover));
            border-color: rgb(var(--gray--hover));
        }

.btn-gray.btn-outlined:active {
            color: rgb(var(--gray--active));
            background-color: rgb(var(--gray-light--active));
            border-color: rgb(var(--gray--active));
        }

.btn-gray.btn-outlined:disabled,
        .btn-gray.btn-outlined:hover:disabled,
        .btn-gray.btn-outlined:active:disabled {
            color: rgb(var(--disabled));
            background-color: transparent;
            border-color: rgb(var(--gray));
        }

/*
     * :::: text ::::
     */

.btn-gray.btn-text {
        color: rgb(var(--gray));
        background-color: transparent;
        border-color: transparent;
    }

.btn-gray.btn-text:hover {
            color: rgb(var(--gray--hover));
            background-color: transparent;
            border-color: transparent;
        }

.btn-gray.btn-text:active {
            color: rgb(var(--gray--active));
            background-color: transparent;
            border-color: transparent;
        }

.btn-gray.btn-text:disabled,
        .btn-gray.btn-text:hover:disabled,
        .btn-gray.btn-text:active:disabled {
            color: rgb(var(--disabled));
            background-color: transparent;
            border-color: transparent;
        }

/**
 * ---------------------------------------------------------------------------------------------------------------------
 * :::: disabled ::::
 */

.btn:disabled{
    cursor: not-allowed;
}