@import "../utilities/typography.css";

.chip{ display: inline-flex; align-items: center; justify-content: center; border-width: 1px;
}

/**
 * ---------------------------------------------------------------------------------------------------------------------
 * :::: sizes ::::
 */

.chip:not(.chip-xs, .chip-sm, .chip-lg){ font-size: 0.75rem; font-weight: 400; line-height: 16px; /* :::: label4 :::: */ min-height: 1.75rem; border-radius: 0.25rem; padding-left: 0.75rem; padding-right: 0.75rem;
}

.chip.chip-xs{ font-size: 0.75rem; font-weight: 400; line-height: 16px; /* :::: label4 :::: */ min-height: 1.25rem; border-radius: 0.25rem; padding-left: 0.5rem; padding-right: 0.5rem;
}

.chip.chip-sm{ font-size: 0.75rem; font-weight: 400; line-height: 16px; /* :::: label4 :::: */ min-height: 1.5rem; border-radius: 0.25rem; padding-left: 0.5rem; padding-right: 0.5rem;
}

.chip.chip-lg{ font-size: 0.8125rem; font-weight: 400; line-height: 18px; /* :::: label3 :::: */ min-height: 2rem; border-radius: 0.5rem; padding-left: 0.75rem; padding-right: 0.75rem;
}

/**
 * ---------------------------------------------------------------------------------------------------------------------
 * :::: rounded full ::::
 */

.chip.chip-rounded-full{ border-radius: 9999px;
}

/**
 * ---------------------------------------------------------------------------------------------------------------------
 * :::: variants ::::
 */

/*
     * :::: contained ::::
     */

.chip-brand {
        color: rgb(var(--inverse));
        background-color: rgb(var(--brand));
        border-color: rgb(var(--brand));
    }

/*
     * :::: tinted ::::
     */

.chip-brand.chip-tinted {
        color: rgb(var(--brand));
        background-color: rgb(var(--brand-light));
        border-color: rgb(var(--brand-light));
    }

/*
     * :::: outlined ::::
     */

.chip-brand.chip-outlined {
        color: rgb(var(--brand));
        background-color: transparent;
        border-color: rgb(var(--brand));
    }

/*
     * :::: text ::::
     */

.chip-brand.chip-text {
        color: rgb(var(--brand));
        background-color: transparent;
        border-color: transparent;
    }

/*
     * :::: contained ::::
     */

.chip-info {
        color: rgb(var(--inverse));
        background-color: rgb(var(--info));
        border-color: rgb(var(--info));
    }

/*
     * :::: tinted ::::
     */

.chip-info.chip-tinted {
        color: rgb(var(--info));
        background-color: rgb(var(--info-light));
        border-color: rgb(var(--info-light));
    }

/*
     * :::: outlined ::::
     */

.chip-info.chip-outlined {
        color: rgb(var(--info));
        background-color: transparent;
        border-color: rgb(var(--info));
    }

/*
     * :::: text ::::
     */

.chip-info.chip-text {
        color: rgb(var(--info));
        background-color: transparent;
        border-color: transparent;
    }

/*
     * :::: contained ::::
     */

.chip-success {
        color: rgb(var(--inverse));
        background-color: rgb(var(--success));
        border-color: rgb(var(--success));
    }

/*
     * :::: tinted ::::
     */

.chip-success.chip-tinted {
        color: rgb(var(--success));
        background-color: rgb(var(--success-light));
        border-color: rgb(var(--success-light));
    }

/*
     * :::: outlined ::::
     */

.chip-success.chip-outlined {
        color: rgb(var(--success));
        background-color: transparent;
        border-color: rgb(var(--success));
    }

/*
     * :::: text ::::
     */

.chip-success.chip-text {
        color: rgb(var(--success));
        background-color: transparent;
        border-color: transparent;
    }

/*
     * :::: contained ::::
     */

.chip-warning {
        color: rgb(var(--inverse));
        background-color: rgb(var(--warning));
        border-color: rgb(var(--warning));
    }

/*
     * :::: tinted ::::
     */

.chip-warning.chip-tinted {
        color: rgb(var(--warning));
        background-color: rgb(var(--warning-light));
        border-color: rgb(var(--warning-light));
    }

/*
     * :::: outlined ::::
     */

.chip-warning.chip-outlined {
        color: rgb(var(--warning));
        background-color: transparent;
        border-color: rgb(var(--warning));
    }

/*
     * :::: text ::::
     */

.chip-warning.chip-text {
        color: rgb(var(--warning));
        background-color: transparent;
        border-color: transparent;
    }

/*
     * :::: contained ::::
     */

.chip-danger {
        color: rgb(var(--inverse));
        background-color: rgb(var(--danger));
        border-color: rgb(var(--danger));
    }

/*
     * :::: tinted ::::
     */

.chip-danger.chip-tinted {
        color: rgb(var(--danger));
        background-color: rgb(var(--danger-light));
        border-color: rgb(var(--danger-light));
    }

/*
     * :::: outlined ::::
     */

.chip-danger.chip-outlined {
        color: rgb(var(--danger));
        background-color: transparent;
        border-color: rgb(var(--danger));
    }

/*
     * :::: text ::::
     */

.chip-danger.chip-text {
        color: rgb(var(--danger));
        background-color: transparent;
        border-color: transparent;
    }

/*
     * :::: contained ::::
     */

.chip-gray {
        color: rgb(var(--inverse));
        background-color: rgb(var(--gray));
        border-color: rgb(var(--gray));
    }

/*
     * :::: tinted ::::
     */

.chip-gray.chip-tinted {
        color: rgb(var(--gray));
        background-color: rgb(var(--gray-light));
        border-color: rgb(var(--gray-light));
    }

/*
     * :::: outlined ::::
     */

.chip-gray.chip-outlined {
        color: rgb(var(--gray));
        background-color: transparent;
        border-color: rgb(var(--gray));
    }

/*
     * :::: text ::::
     */

.chip-gray.chip-text {
        color: rgb(var(--gray));
        background-color: transparent;
        border-color: transparent;
    }