/**
 * ---------------------------------------------------------------------------------------------------------------------
 * :::: shadows ::::
 */

.shadow-xs {
    box-shadow: 0 1px 2px rgba(16, 24, 40, 0.05);
}

.shadow-sm {
    box-shadow: 0 1px 3px rgba(16, 24, 40, 0.10), 0 1px 2px rgba(16, 24, 40, 0.06);
}

.shadow-md {
    box-shadow: 0 4px 8px rgba(16, 24, 40, 0.10), 0 2px 4px rgba(16, 24, 40, 0.06);
}

.shadow-lg {
    box-shadow: 0 12px 16px rgba(16, 24, 40, 0.08), 0 4px 6px rgba(16, 24, 40, 0.03);
}

.shadow-xl {
    box-shadow: 0 20px 24px rgba(16, 24, 40, 0.08), 0 8px 8px rgba(16, 24, 40, 0.03);
}

.shadow-2xl {
    box-shadow: 0 24px 48px rgba(16, 24, 40, 0.18);
}

.shadow-3xl {
    box-shadow: 0 32px 64px rgba(16, 24, 40, 0.14);
}

/**
 * ---------------------------------------------------------------------------------------------------------------------
 * :::: card shadows ::::
 */

.shadow-card-sm {
    box-shadow: 0 1px 2px rgba(145, 158, 171, 0.16);
}

.shadow-card-md {
    box-shadow: 0 2px 5px rgba(145, 158, 171, 0.16);
}

.shadow-card-lg {
    box-shadow: 0 4px 8px rgba(145, 158, 171, 0.16);
}


/**
 * ---------------------------------------------------------------------------------------------------------------------
 * :::: btn shadows ::::
 */

.shadow-btn-brand {
    box-shadow: 0 10px 20px rgba(var(--brand), 0.24);
}

.shadow-btn-info {
    box-shadow: 0 10px 20px rgba(var(--info), 0.24);
}

.shadow-btn-success {
    box-shadow: 0 10px 20px rgba(var(--success), 0.24);
}

.shadow-btn-warning {
    box-shadow: 0 10px 20px rgba(var(--warning), 0.24);
}

.shadow-btn-danger {
    box-shadow: 0 10px 20px rgba(var(--danger), 0.24);
}


/**
 * ---------------------------------------------------------------------------------------------------------------------
 * :::: focus shadow ::::
 */

.shadow-focus-brand {
    box-shadow: 0 0 0 4px rgba(var(--brand), 0.24), 0 0 0 4px rgb(var(--bg-primary));
}

.shadow-focus-info {
    box-shadow: 0 0 0 4px rgba(var(--info), 0.24), 0 0 0 4px rgb(var(--bg-primary));
}

.shadow-focus-success {
    box-shadow: 0 0 0 4px rgba(var(--success), 0.24), 0 0 0 4px rgb(var(--bg-primary));
}

.shadow-focus-warning {
    box-shadow: 0 0 0 4px rgba(var(--warning), 0.24), 0 0 0 4px rgb(var(--bg-primary));
}

.shadow-focus-danger {
    box-shadow: 0 0 0 4px rgba(var(--danger), 0.24), 0 0 0 4px rgb(var(--bg-primary));
}

.shadow-focus-gray {
    box-shadow: 0 0 0 4px rgba(var(--gray), 0.24), 0 0 0 4px rgb(var(--bg-primary));
}

/**
 * ---------------------------------------------------------------------------------------------------------------------
 * :::: control ::::
 */

.shadow-dialog {
    box-shadow: 0 8px 8px rgba(16, 24, 40, 0.04), 0 20px 24px rgba(16, 24, 40, 0.10);
}

.shadow-dropdown {
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.10);
}

.shadow-control {
    box-shadow: 0 -4px 8px rgba(0, 0, 0, 0.02), 0 1px 0.5px rgba(24, 24, 27, 0.05);
}