@import "../utilities/typography.css";

.btn {
    @apply inline-flex justify-center items-center border;
    @apply transition-colors ease-in-out;
}

/**
 * ---------------------------------------------------------------------------------------------------------------------
 * :::: sizes ::::
 */

.btn:not(.btn-xs, .btn-sm, .btn-lg, .btn-xl) {
    @mixins label3;
    @apply px-2 min-h-10 rounded-lg;
}

.btn.btn-xs {
    @mixins label4;
    @apply px-1 min-h-8 rounded-lg;
}

.btn.btn-sm {
    @mixins label3;
    @apply px-1.5 min-h-9 rounded-lg;
}

.btn.btn-lg {
    @mixins label3;
    @apply px-2.5 min-h-11 rounded-lg;
}

.btn.btn-xl {
    @mixins label2;
    @apply px-3 min-h-12 rounded-lg;
}

/**
 * ---------------------------------------------------------------------------------------------------------------------
 * :::: rounded full ::::
 */

.btn.btn-rounded-full {
    @apply rounded-full;
}

/**
 * ---------------------------------------------------------------------------------------------------------------------
 * :::: variants ::::
 */

@each $color in (brand, info, success, warning, danger, gray) {
    /*
     * :::: contained ::::
     */
    .btn-$(color) {
        color: rgb(var(--inverse));
        background-color: rgb(var(--$(color)));
        border-color: rgb(var(--$(color)));

        &:hover {
            color: rgb(var(--inverse));
            background-color: rgb(var(--$(color)--hover));
            border-color: rgb(var(--$(color)--hover));
        }

        &:active {
            color: rgb(var(--inverse));
            background-color: rgb(var(--$(color)--active));
            border-color: rgb(var(--$(color)--active));
        }

        &:disabled,
        &:hover:disabled,
        &:active:disabled {
            color: rgb(var(--disabled));
            background-color: rgb(var(--gray-light));
            border-color: rgb(var(--gray-light));
        }
    }

    /*
     * :::: tinted ::::
     */
    .btn-$(color).btn-tinted {
        color: rgb(var(--$(color)));
        background-color: rgb(var(--$(color)-light));
        border-color: rgb(var(--$(color)-light));

        &:hover {
            color: rgb(var(--$(color)--hover));
            background-color: rgb(var(--$(color)-light--hover));
            border-color: rgb(var(--$(color)-light--hover));
        }

        &:active {
            color: rgb(var(--$(color)--active));
            background-color: rgb(var(--$(color)-light--active));
            border-color: rgb(var(--$(color)-light--active));
        }

        &:disabled,
        &:hover:disabled,
        &:active:disabled {
            color: rgb(var(--disabled));
            background-color: rgb(var(--gray-light));
            border-color: rgb(var(--gray-light));
        }
    }

    /*
     * :::: outlined ::::
     */
    .btn-$(color).btn-outlined {
        color: rgb(var(--$(color)));
        background-color: transparent;
        border-color: rgb(var(--$(color)));

        &:hover {
            color: rgb(var(--$(color)--hover));
            background-color: rgb(var(--$(color)-light--hover));
            border-color: rgb(var(--$(color)--hover));
        }

        &:active {
            color: rgb(var(--$(color)--active));
            background-color: rgb(var(--$(color)-light--active));
            border-color: rgb(var(--$(color)--active));
        }

        &:disabled,
        &:hover:disabled,
        &:active:disabled {
            color: rgb(var(--disabled));
            background-color: transparent;
            border-color: rgb(var(--gray));
        }
    }

    /*
     * :::: text ::::
     */
    .btn-$(color).btn-text {
        color: rgb(var(--$(color)));
        background-color: transparent;
        border-color: transparent;

        &:hover {
            color: rgb(var(--$(color)--hover));
            background-color: transparent;
            border-color: transparent;
        }

        &:active {
            color: rgb(var(--$(color)--active));
            background-color: transparent;
            border-color: transparent;
        }

        &:disabled,
        &:hover:disabled,
        &:active:disabled {
            color: rgb(var(--disabled));
            background-color: transparent;
            border-color: transparent;
        }
    }
}

/**
 * ---------------------------------------------------------------------------------------------------------------------
 * :::: disabled ::::
 */

.btn:disabled {
    @apply cursor-not-allowed;
}