.icon-btn {
    @apply inline-flex justify-between items-center gap-2 border;
    @apply transition-colors ease-in-out;
}

/**
 * ---------------------------------------------------------------------------------------------------------------------
 * :::: sizes ::::
 */

.icon-btn:not(.icon-btn-xs, .icon-btn-sm, .icon-btn-lg, .icon-btn-xl) {
    @apply font-normal text-[0.8125rem] leading-[18px]; /* :::: label3 :::: */
    @apply p-2 min-h-10 min-w-10 rounded-lg;
}

.icon-btn.icon-btn-xs {
    @apply font-normal text-[0.75rem] leading-[16px]; /* :::: label4 :::: */
    @apply p-1 min-h-8 min-w-8 rounded-lg;
}

.icon-btn.icon-btn-sm {
    @apply font-normal text-[0.8125rem] leading-[18px]; /* :::: label3 :::: */
    @apply p-1.5 min-h-9 min-w-9 rounded-lg;
}

.icon-btn.icon-btn-lg {
    @apply font-normal text-[0.8125rem] leading-[18px]; /* :::: label3 :::: */
    @apply p-2.5 min-h-11 min-w-11 rounded-lg;
}

.icon-btn.icon-btn-xl {
    @apply font-normal text-[0.875rem] leading-[20px]; /* :::: label2 :::: */
    @apply p-3 min-h-12 min-w-12 rounded-lg;
}

/**
 * ---------------------------------------------------------------------------------------------------------------------
 * :::: rounded full ::::
 */

.icon-btn.icon-btn-rounded-full {
    @apply rounded-full;
}

/**
 * ---------------------------------------------------------------------------------------------------------------------
 * :::: variants ::::
 */

@each $color in (brand, info, success, warning, danger, gray) {
    /*
     * :::: contained ::::
     */
    .icon-btn-$(color) {
        color: rgb(var(--inverse));
        background-color: rgb(var(--$(color)));
        border-color: rgb(var(--$(color)));

        &:hover {
            color: rgb(var(--inverse));
            background-color: rgb(var(--$(color)--hover));
            border-color: rgb(var(--$(color)--hover));
        }

        &:active {
            color: rgb(var(--inverse));
            background-color: rgb(var(--$(color)--active));
            border-color: rgb(var(--$(color)--active));
        }

        &:disabled,
        &:hover:disabled,
        &:active:disabled {
            color: rgb(var(--disabled));
            background-color: rgb(var(--gray-light));
            border-color: rgb(var(--gray-light));
        }
    }

    /*
     * :::: tinted ::::
     */
    .icon-btn-$(color).icon-btn-tinted {
        color: rgb(var(--$(color)));
        background-color: rgb(var(--$(color)-light));
        border-color: rgb(var(--$(color)-light));

        &:hover {
            color: rgb(var(--$(color)--hover));
            background-color: rgb(var(--$(color)-light--hover));
            border-color: rgb(var(--$(color)-light--hover));
        }

        &:active {
            color: rgb(var(--$(color)--active));
            background-color: rgb(var(--$(color)-light--active));
            border-color: rgb(var(--$(color)-light--active));
        }

        &:disabled,
        &:hover:disabled,
        &:active:disabled {
            color: rgb(var(--disabled));
            background-color: rgb(var(--gray-light));
            border-color: rgb(var(--gray-light));
        }
    }

    /*
     * :::: outlined ::::
     */
    .icon-btn-$(color).icon-btn-outlined {
        color: rgb(var(--$(color)));
        background-color: transparent;
        border-color: rgb(var(--$(color)));

        &:hover {
            color: rgb(var(--$(color)--hover));
            background-color: rgb(var(--$(color)-light--hover));
            border-color: rgb(var(--$(color)--hover));
        }

        &:active {
            color: rgb(var(--$(color)--active));
            background-color: rgb(var(--$(color)-light--active));
            border-color: rgb(var(--$(color)--active));
        }

        &:disabled,
        &:hover:disabled,
        &:active:disabled {
            color: rgb(var(--disabled));
            background-color: transparent;
            border-color: rgb(var(--gray));
        }
    }

    /*
     * :::: text ::::
     */
    .icon-btn-$(color).icon-btn-text {
        color: rgb(var(--$(color)));
        background-color: transparent;
        border-color: transparent;

        &:hover {
            color: rgb(var(--$(color)--hover));
            background-color: transparent;
            border-color: transparent;
        }

        &:active {
            color: rgb(var(--$(color)--active));
            background-color: transparent;
            border-color: transparent;
        }

        &:disabled,
        &:hover:disabled,
        &:active:disabled {
            color: rgb(var(--disabled));
            background-color: transparent;
            border-color: transparent;
        }
    }
}

/**
 * ---------------------------------------------------------------------------------------------------------------------
 * :::: disabled ::::
 */

.icon-btn:disabled {
    @apply cursor-not-allowed;
}