input[type="radio"].radio {
    -webkit-appearance: none;
    appearance: none;
    min-width: 1.25rem;
    width: 1.25rem;
    min-height: 1.25rem;
    height: 1.25rem;
    background-color: rgb(var(--bg-primary));
    border: 1px solid #EEF0F2; /* TODo: read from theme */
    border-radius: 50%;
    position: relative;
    overflow: hidden;
    z-index: 0;
    transition: 240ms transform linear;

    /**
     * :::: checked ::::
     */

    &:checked {
        border-color: rgb(var(--brand));
        background-color: rgb(var(--brand));

        /**
         * :::: disabled checked ::::
         */

        &:disabled {
            border-color: #EEF0F2; /* TODo: read from theme */
            background-color: #F2F2F7; /* TODo: read from theme */
        }
    }

    /**
     * :::: disabled ::::
     */

    &:disabled {
        border-color: #EEF0F2; /* TODo: read from theme */
        background-color: #F2F2F7; /* TODo: read from theme */
    }
}

/**
 * ---------------------------------------------------------------------------------------------------------------------
 * :::: before ::::
 */

input[type="radio"].radio::before {
    content: "";
    width: 0.47rem;
    height: 0.47rem;
    position: absolute;
    background-color: rgb(var(--bg-primary));
    border-radius: 50%;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%) scale(0);
    transition: 120ms transform linear;
}


/**
 * :::: checked ::::
 */

input[type="radio"].radio:checked::before {
    transform: translate(-50%, -50%) scale(1);
}
