.select {
    @apply font-normal text-[0.875rem] leading-[20px]; /* :::: label2 :::: */
    @apply w-full min-h-12 px-3 rounded-lg text-primary;
    outline: none;
    transition: all ease-in-out 0.4s;

    /* :::: customize arrow left :::: */
    -moz-appearance: none; /* :::: Firefox :::: */
    -webkit-appearance: none; /* :::: Safari and Chrome :::: */
    appearance: none;
    background-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' height='18' viewBox='0 -960 960 960' width='18'><path d='M480-345 240-585l43-43 197 198 197-197 43 43-240 239Z'/></svg>");
    background-repeat: no-repeat;
    background-position-x: 0.5rem;
    background-position-y: 0.9rem;
    padding-left: 2.5rem;
    padding-block: 0.64rem;
}

/**
 * ---------------------------------------------------------------------------------------------------------------------
 * :::: variants ::::
 */

.select {
    background-color: rgb(var(--bg-primary));
    border: 1.5px solid #EDEDED;
}

.select.select-secondary {
    background-color: rgb(var(--bg-secondary));
    border: 1.5px solid #E6E6E6;
}

/**
 * ---------------------------------------------------------------------------------------------------------------------
 * :::: firefox ::::
 */

.select:focus-visible,
.select:focus-within {
    outline: none !important;
}

/**
 * ---------------------------------------------------------------------------------------------------------------------
 * :::: placeholder & focus ::::
 */

.select::placeholder {
    color: rgb(var(--hint));
}

.select:focus {
    border-color: rgb(var(--brand));
    box-shadow: 0 0 0 4px rgba(var(--brand), 0.24), 0 0 0 4px rgb(var(--bg-primary));
}

.select:disabled {
    color: rgb(var(--disabled));
    cursor: not-allowed;
}

/**
 * ---------------------------------------------------------------------------------------------------------------------
 * :::: error ::::
 */

.select--error {
    background-color: rgb(var(--danger-light)) !important;
    border-color: rgb(var(--danger)) !important;
}

.select--error:focus {
    border-color: rgb(var(--danger)) !important;
    box-shadow: 0 0 0 4px rgba(var(--danger), 0.24), 0 0 0 4px rgb(var(--bg-primary)) !important;
}
