@import "../../lib/mixin.colors.scss";
@import "../../lib/mixin.typography.scss";

/**
 * ---------------------------------------------------------------------------------------------------------------------
 * :::: btn ::::
 */

.btn {
    @apply inline-flex items-center justify-between gap-1 rounded-lg cursor-pointer outline-none;
    transition: all ease-in-out 0.3s;
}

/**
 * ---------------------------------------------------------------------------------------------------------------------
 * :::: sizes ::::
 */

.btn:not(.btn-xs, .btn-sm, .btn-lg, .btn-xl) {
    @include subtitle5;
    @apply h-10 px-3;
}

.btn.btn-xs {
    @include subtitle5;
    @apply h-8 px-3;
}

.btn.btn-sm {
    @include subtitle4;
    @apply h-9 px-3;
}

.btn.btn-lg {
    @include subtitle4;
    @apply h-11 px-4;
}

.btn.btn-xl {
    @include subtitle3;
    @apply h-12 px-4;
}

/**
 * ---------------------------------------------------------------------------------------------------------------------
 * :::: icon btn ::::
 */

.btn.btn-square {
    @apply inline-flex items-center justify-center p-0;
}

.btn.btn-square:not(.btn-square.btn-xs, .btn-square.btn-sm, .btn-square.btn-lg, .btn-square.btn-xl) {
    @apply min-h-10 h-10 min-w-10 w-10;
}

.btn.btn-square.btn-xs {
    @apply min-h-8 h-8 min-w-8 w-8;
}

.btn.btn-square.btn-sm {
    @apply min-h-9 h-9 min-w-9 w-9;
}

.btn.btn-square.btn-lg {
    @apply min-h-11 h-11 min-w-11 w-11;
}

.btn.btn-square.btn-xl {
    @apply min-h-12 h-12 min-w-12 w-12;
}

/**
 * ---------------------------------------------------------------------------------------------------------------------
 * :::: rounded full ::::
 */

.btn.btn-rounded-full {
    @apply rounded-full;
}

/**
 * ---------------------------------------------------------------------------------------------------------------------
 * :::: variants ::::
 */

$variants: "brand", "info", "success", "warning", "danger", "grey";

@each $variant in $variants {
    .btn.btn-#{$variant} {
        @include bg-primary(#{$variant});
        @apply text-inverse;

        &:hover {
            @include bg-primary-hover(#{$variant});
        }

        &:active {
            @include bg-primary-active(#{$variant});
            @include box-shadow(#{$variant});
        }
    }

    .btn.btn-#{$variant}.btn-tinted {
        @include text(#{$variant});
        @include bg-light(#{$variant});

        &:hover {
            @include bg-light-hover(#{$variant});
        }

        &:active {
            @include bg-light-active(#{$variant});
            @include box-shadow(#{$variant});
        }
    }

    .btn.btn-#{$variant}.btn-outlined {
        @include text(#{$variant});
        @apply bg-transparent;
        border: 1px solid rgb(var(--persian-ui-#{$variant}));

        &:hover {
            @include bg-light-hover(#{$variant});
        }

        &:active {
            @include bg-light-active(#{$variant});
            @include box-shadow(#{$variant});
        }
    }

    .btn.btn-#{$variant}.btn-text {
        @include text(#{$variant});
        @apply bg-transparent;

        &:hover {
            @apply bg-transparent;
        }

        &:active {
            @apply bg-transparent;
            box-shadow: none;
        }
    }
}

/**
 * ---------------------------------------------------------------------------------------------------------------------
 * :::: disabled ::::
 */

.btn:disabled,
.btn:hover:disabled,
.btn:active:disabled {
    @apply cursor-not-allowed opacity-40;
}

/**
 * ---------------------------------------------------------------------------------------------------------------------
 * :::: adornment ::::
 */

.btn {
    & > .adornment {
        @apply relative;
    }
    
    & > .adornment.adornment-start {
        @apply left-1;
    }
    
    & > .adornment.adornment-end {
        @apply right-1;
    }
}