@use "../../lib/mixin.colors.scss" as colors;

/**
 * ---------------------------------------------------------------------------------------------------------------------
 * :::: btn ::::
 */

.icon-btn {
    @apply inline-flex items-center justify-center gap-1 rounded-lg cursor-pointer outline-none;
    transition: all ease-in-out 0.3s;
}

/**
 * ---------------------------------------------------------------------------------------------------------------------
 * :::: sizes ::::
 */

.icon-btn:not(.icon-btn-xs, .icon-btn-sm, .icon-btn-lg, .icon-btn-xl) {
    @apply min-h-10 h-10 min-w-10 w-10;
}

.icon-btn.icon-btn-xs {
    @apply min-h-8 h-8 min-w-8 w-8;
}

.icon-btn.icon-btn-sm {
    @apply min-h-9 h-9 min-w-9 w-9;
}

.icon-btn.icon-btn-lg {
    @apply min-h-11 h-11 min-w-11 w-11;
}

.icon-btn.icon-btn-xl {
    @apply min-h-12 h-12 min-w-12 w-12;
}

/**
 * ---------------------------------------------------------------------------------------------------------------------
 * :::: rounded full ::::
 */

.icon-btn.icon-btn-rounded-full {
    @apply rounded-full;
}

/**
 * ---------------------------------------------------------------------------------------------------------------------
 * :::: variants ::::
 */

$variants: "brand", "info", "success", "warning", "danger", "grey";

@each $variant in $variants {
    .icon-btn.icon-btn-#{$variant} {
        @include colors.bg-primary(#{$variant});
        @apply text-inverse;

        &:hover {
            @include colors.bg-primary-hover(#{$variant});
        }

        &:active {
            @include colors.bg-primary-active(#{$variant});
            @include colors.box-shadow(#{$variant});
        }
    }

    .icon-btn.icon-btn-#{$variant}.icon-btn-tinted {
        @include colors.text(#{$variant});
        @include colors.bg-light(#{$variant});

        &:hover {
            @include colors.bg-light-hover(#{$variant});
        }

        &:active {
            @include colors.bg-light-active(#{$variant});
            @include colors.box-shadow(#{$variant});
        }
    }

    .icon-btn.icon-btn-#{$variant}.icon-btn-outlined {
        @include colors.text(#{$variant});
        @apply bg-transparent;
        border: 1px solid rgb(var(--persian-ui-#{$variant}));

        &:hover {
            @include colors.bg-light-hover(#{$variant});
        }

        &:active {
            @include colors.bg-light-active(#{$variant});
            @include colors.box-shadow(#{$variant});
        }
    }

    .icon-btn.icon-btn-#{$variant}.icon-btn-text {
        @include colors.text(#{$variant});
        @apply bg-transparent;

        &:hover {
            @apply bg-transparent;
        }

        &:active {
            @apply bg-transparent;
            box-shadow: none;
        }
    }
}

/**
 * ---------------------------------------------------------------------------------------------------------------------
 * :::: disabled ::::
 */

.icon-btn:disabled,
.icon-btn:hover:disabled,
.icon-btn:active:disabled {
    @apply cursor-not-allowed opacity-40;
}